---

name: unit-tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    name: unit-tests

    strategy:
      matrix:
        node-version: [10.x, 12.x, 14.x, 15.x]

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 1

      - name: Setup Node ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          always-auth: false
          node-version: ${{ matrix.node-version }}

      - name: Run npm install
        run: yarn install --ignore-engines --ignore-scripts

      - name: Run Tests
        run: yarn run test
        env:
          CI: true
  release:
    if: ${{ github.ref == 'master' }}
    needs: build
    runs-on: ubuntu-latest
    name: semantic-release

    steps:
      - name: Checkout Repository
        run: yarn run semantic-release
